:root{
    background-color: #62edbc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-2, .button-1{
    background-color: rgb(230, 188, 124);
}

